/* Navbar.css */



/* Adjustments for Logo */
.d-inline-block {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: -5px;
}

/* Adjustments for Logo Position */
.form-inline {
  margin-left: auto;
  padding-right: 25px;
}

/* Adjustments for Login Button */
.btn-secondary {
  border-radius: 70px;
  width: 150px;
  background-color: rgb(243, 70, 2) !important;
  color: black; /* Set font color to black */
}


/* Adjustments for Navbar Brand */
.navbar-brand {
  padding-left: 25px;
}

/* Adjustments for Nav Items */
.nav-item {
  margin-right: auto;
}

.pr-10{
  margin-right: 10px;
}

.nav-link.active {
  font-weight: bold;
  color: #000; /* Adjust the color as needed */
}

.nav-obj{
  margin-right: 25px;
}
