.s4a{
    font-size: 4em;
    line-height: 1;
    text-align: center;
}

.s4b{
    font-size: 4em;
    line-height: 1;
    text-align: center;
}

.s4c{
    font-size: 4em;
    line-height: 1;
    text-align: center;
}
.body-4{
    background-color: #D9D9D9;
    padding: 20px;
}

.attracted {
    color: rgb(243, 70, 2);
}

.offering{
    color: rgb(243, 70, 2);
}